DB_USER=postgres
DB_PASSWORD=yourpassword
DB_HOST=localhost
DB_PORT=5432
DB_NAME=comfyhome

# get from connection string after setting up neondb
DATABASE_URL=postgresql://user:password....

JWT_SECRET=change_this_to_a_long_random_secret

PORT=3000
FRONTEND_URL=http://localhost:5173

# Stripe — get yours at https://dashboard.stripe.com/test/apikeys
STRIPE_SECRET_KEY=sk_test_...
